*{
    margin: 0;
    padding: 0;
    scrollbar-color: #dd7fa1 #8a2b4e; /*for funsies*/
    /*border: 2px solid #8a2b4e;*/
}

body {
    overflow-x: hidden;
    background-color: #131313;
    color: #dd7fa1;
    font-family: 'Josefin Sans', sans-serif;
}
img {
    max-width: min(100%, 225px);
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 16px;
    color: #8a2b4e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a {
    text-decoration: none;
    color: #dd7fa1;
}
#side-bar {
    justify-content: center;
}
#presents {
    display: flex;
    flex-wrap: wrap;
    gap: 1vmin;
    justify-content: center;
}
#container {
    display: grid;
    gap: 4vmax;
}
@media (min-width: 760px) {
    #container {
        grid-template-columns: 165px 1fr;
    }
    h1 {
        font-size: 12vw;
    }
    h2 {
        font-size: 2.4vw;
    }
}
button {
    min-width: 300px;
    min-height: 60px;
    padding: 1vh 1vw;
    margin: 4vmin auto;
    border-color: #8a2b4e;
    background-color: #dd7fa1;
    font-size: 135%;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
}
#side-bar {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center image */
    justify-content: start;
    padding-top: 10px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center button */
    justify-content: center;
    text-align: center;
}
#footer {
    float: right;
    margin: 10px;
}

#bg-video {
  max-width: 90vw;
  height: auto;
  object-fit: cover;
  margin-bottom: 5vh;
}